

.graphs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.graphContainer{
    padding: 10px;
    margin: 10px;
    width: calc(50% - 40px);
    min-width: 500px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    overflow-x: auto;
}
.graphContainer p{
    font-weight: bold;
}